<title>Sign up</title>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
      <h4>This form contains <%= pluralize(@user.errors.count, "error") %> </h4>
      </div>
      <ul>
      <h5><% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </h5>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :name %><br>
    <div id="black"><%= f.text_field :name%></div>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <div id="black"> <%= f.email_field :email %></div>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <div id="black"><%= f.password_field :password %></div>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <div id="black"><%= f.password_field :password_confirmation %></div>
  </div>
  <div class="actions">
   <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>
